@media (max-width: $screen-md-max) {
  .deployments-container {
    width: 100%;
    overflow: auto;
  }
}

.environments-list-loading {
  width: 100%;
  font-size: 34px;
}

@media (max-width: $screen-xs-max) {
  .environments-container {
    width: 100%;
    overflow: auto;
  }
}

.environments {
  table-layout: fixed;

  .environments-commit,
  .environments-actions,
  .environments-deploy,
  .environments-build,
  .environments-date {
    position: static;
    float: none;
    display: table-cell;
  }

  .environments-commit,
  .environments-actions {
    width: 20%;
  }

  .environments-deploy,
  .environments-build,
  .environments-date {
    width: 10%;
  }

  .environments-name {
    width: 30%;
  }

  .deployment-column {
    .avatar {
      float: none;
    }
  }

  .commit-title {
    margin: 0;
  }

  .avatar-image-container {
    text-decoration: none;
  }

  .icon-play {
    height: 13px;
    width: 12px;
  }

  .external-url,
  .dropdown-new {
    color: $table-text-gray;
  }

  .dropdown-menu {

    .fa {
      margin-right: 6px;
      color: $table-text-gray;
    }
  }

  .build-link,
  .branch-name {
    color: $gl-dark-link-color;
  }

  .stop-env-link,
  .external-url {
    color: $table-text-gray;

    .stop-env-icon {
      font-size: 14px;
    }
  }

  .deployment {
    .build-column {

      .build-link {
        color: $gl-dark-link-color;
      }

      .avatar {
        float: none;
      }
    }
  }

  .children-row .environment-name {
    margin-left: 17px;
    margin-right: -17px;
  }

  .folder-icon {
    padding: 0 5px 0 0;
  }

  .folder-name {
    cursor: pointer;

    .badge {
      font-weight: normal;
      background-color: $gray-darker;
      color: $gl-placeholder-color;
      vertical-align: baseline;
    }
  }
}

.table.ci-table.environments {
  .icon-container {
    width: 20px;
    text-align: center;
  }

  .branch-commit {
    .commit-id {
      margin-right: 0;
    }
  }
}
